@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<MvcCoreChatApp.Entities.AppUser>

@if (Model.Any())
{
    <h2 class="mb-4">Bulunan Kullanıcılar:</h2>
    <ul class="list-unstyled row">
        @foreach (var user in Model)
        {
            <li class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@user.UserName</h5>
                        <p class="card-text">Tıkla ve iletişime geç.</p>
                        <a href="/Chat/CreateChat?userId=@user.Id" class="btn btn-primary w-100">İletişime Geç</a>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p class="lead text-center">Hiçbir kullanıcı bulunamadı.</p>
}

<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f5f5f5;
    }

    h2 {
        font-weight: bold;
        margin-bottom: 30px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 30px;
    }

    .card {
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-out;
    }

        .card:hover {
            transform: translateY(-5px);
        }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .card-text {
        font-size: 0.9rem;
        margin-bottom: 20px;
    }

    .btn {
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 0.9rem;
        transition: background-color 0.3s ease-out;
    }

        .btn:hover {
            background-color: #0056b3;
        }
</style>